{% set horizontalFullWidth = content.field_horizontal_full_width.0 %}

{% set headline_color = content.field_text_color|render|striptags|trim%}


{% if "On" in horizontalFullWidth %}
    {%
        set classes = []
    %}
    {%
        set padding = [
            'grid',
            'ml-20' 
        ]
    %}
{% else %}
    {%
        set classes = [
            'pryg-container' 
        ]
    %}
    {%
        set padding = [
            'grid',
            'ml-0' 
        ]
    %}

{% endif %}

{% set heading_style = [
    (label|length < '15') ? 'lg:text-5xl xl-text-6xl' : 'lg:text-2xl xl:text-3xl',
    (label|length < '15') ? 'pr-4' : 'px-32',
    'text-' ~  headline_color,
] %}
{% set image_style = (label|length < '15') ? 'justify-items-center place-items-center' : 'justify-items-end place-items-center' %}
{% set content_style = [
    (label|length < '15') ? '' : 'lg:40 xl:ml-56',
] %}

{% set horizontal_line = [
     (label|length < '15') ? '' : 'hidden',
    'w-36',
    'border-1',
    'border-' ~ headline_color,
    'place-self-end'
] %}

{% set classesTORemove = [
    'pryg-container',
    'grid',
    'ml-0',
    'ml-20',    
    'layout-builder-block',
    'contextual-region',
    'js-layout-builder-block'
    ]
 %}

<div {{ attributes.addClass(classes) }}>
<section class="py-20">
    {% block content %}
        {% if "On" in content.field_align_image_left.0 %} 
            <div class="grid grid-cols-2">
                 <div class="{{  image_style ~ ' grid '}}">
                    {% if content.field_image.0 %}
                    <img src="{{file_url(content.field_image.0['#item'].entity.uri.value) }}" alt={{content.field_image['#items'].alt}} class="object-fill">
                    {% endif %}
                    {# {{file_url(content.field_image.0['#item'].entity.uri.value) }} #}
                </div>
                <div {{attributes.addClass(padding).removeClass(['pryg-container', 'layout-builder-block', 'contextual-region', 'js-layout-builder-block'])}}>
                    <div class="py-10 flex text-pryg-white-v2">
                        {{title_prefix}}
                        <h2 {{  title_attributes.addClass(heading_style) }}>{{ label }}</h2>
                        {{title_suffix}}
                        <hr {{attributes.addClass(horizontal_line).removeClass(classesTORemove)}} />
                    </div>
                    <div class="py-10 text-xl tracking-wide text-pryg-blue-v2 font-normal py-2 prose">
                        <div {{attributes.addClass(content_style).removeClass(horizontal_line)}}>
                            {{ content.body }}
                        </div>
                    </div>
                </div>
            </div>
            
        {% else %}
            <div class="grid grid-cols-2">
                <div {{attributes.addClass(padding).removeClass(['pryg-container', 'layout-builder-block', 'contextual-region', 'js-layout-builder-block'])}}>
                    <div class="py-10 flex text-pryg-white-v2">
                        {{title_prefix}}
                        <h2 {{  title_attributes.addClass(heading_style) }}>{{ label }}</h2>
                        {{title_suffix}}
                        <hr {{attributes.addClass(horizontal_line).removeClass(classesTORemove)}} />
                    </div>
                    <div class="py-10 text-xl tracking-wide text-pryg-blue-v2 font-normal py-2 prose">
                        <div {{attributes.addClass(content_style).removeClass(horizontal_line)}}>
                            {{ content.body }}
                        </div>
                    </div>
                </div>
                <div class="{{  image_style ~ ' grid '}}">
                    {% if content.field_image.0 %}
                    <img src="{{file_url(content.field_image.0['#item'].entity.uri.value) }}" alt={{content.field_image['#items'].alt}} class="object-fill">
                    {% endif %}
                    {# {{file_url(content.field_image.0['#item'].entity.uri.value) }} #}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</section>
</div>

