<body class="bg-pryg-white-v1">
    <header class="w-full bg-pryg-white-v1 fixed z-10">
        <div class="mx-auto">
            <nav class="">
                <div class="flex px-8 justify-between py-8">
                    <div class="mx-24"><a href="{{ base_path }}"> <img class="h-16" src="{{ base_path ~ directory }}/assets/images/misc/logo/prayog-logo-without-bg.png" alt=""></a></div>
                    <ul class="flex my-auto text-pryg-gray-v1 text-base font-normal uppercase mx-32">
                        <li class="hover:text-pryg-yellow hover:border-solid hover:border-2 hover:border-pryg-gray-v1 rounded-full lg:p-3 xl:p-4"><a href="{{ path('entity.node.canonical', {'node': 1 }) }}"> About Us </a></li>
                        <li class="hover:text-pryg-yellow hover:border-solid hover:border-2 hover:border-pryg-gray-v1 rounded-full lg:p-3 xl:p-4"><a href="{{ path('entity.node.canonical', {'node': 2 }) }}"> Projects </a></li>
                        <li class="hover:text-pryg-yellow hover:border-solid hover:border-2 hover:border-pryg-gray-v1 rounded-full lg:p-3 xl:p-4"><a href="{{ path('entity.node.canonical', {'node': 3 }) }}"> Events & Media </a></li>
                        <li class="hover:text-pryg-yellow hover:border-solid hover:border-2 hover:border-pryg-gray-v1 rounded-full lg:p-3 xl:p-4"><a href="{{ path('entity.node.canonical', {'node': 6 }) }}">Connect </a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>