{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Prayog | IIT Bombay</title>
</head> #}

{% include '@ctara_prayog_tailwindcss_theme/header.html.twig' %}
<section>
    <div class="pryg-container pt-56 pb-14">
        <div class="flex">
            <span class="text-3xl font-semibold text-pryg-blue-v1">Events</span>
             <hr class="my-10 w-80 border-t-1 border-pryg-blue-v2">
            <span class="ml-4 italic text-3xl font-light text-pryg-blue-v1">
                Media
            </span>
        </div>
    </div>
    <div class="pryg-container">
        <div class="grid grid-cols-3 gap-3 py-4">
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl bg-pryg-white-v2 hover:bg-pryg-blue-v1 text-pryg-blue-v2 hover:text-pryg-white-v1">
                <div class="p-5">
                    <span class="text-base  font-medium">Indianexpress</span> 
                    <h2 class="align-bottom text-2xl font-semibold hover:text-pryg-white-v1">Enhancing access to water and sanitation to slum dwellers in Mumbai</h2> 
                    <span class="text-base  font-medium flex">13th SEP 2021<hr class="my-5 ml-4 w-40 border-t-1 border-pryg-blue-v2"></span> 
                </div>
            </div>
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-3 py-4">
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
        </div>
    </div>
</section>
{% include '@ctara_prayog_tailwindcss_theme/footer.html.twig' %}
