{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Prayog | IIT Bombay</title>
</head> #}

{% include '@ctara_prayog_tailwindcss_theme/header_frontPage.html.twig' %}
{% if is_front %}

<section class="relative py-10">
    <div class="pryg-container">
        <div class="px-10 absolute top-20 lg:-left-3 xl:left-10 2xl:left-56">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:#F8BC28;transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2z"></path></svg>
        </div>
        <div class="grid grid-cols-2">
            <div>
                <div class="py-10 flex text-pryg-white-v2">
                    <h4 class="content:block text-pryg-gray-v2 pr-10 uppercase text-pryg-gray-v2 text-base">About Us</h4>
                    <hr class="my-auto w-36 border-1 border-pryg-blue-v2 justify-items-start"> 
                </div>
                <div class="py-10">
                    <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal">PRAYOG is a new initiative of IIT Bombay launched in June
                        2021, that brings solution seekers and solution providers
                        together to address development challenges. Our aim is to
                        contribute towards achieving the Sustainable Development
                        Goals (SDGs) for India.
                    </p>
                </div>
                <div class="py-10">
                    <a class="pryg-btn border-2 border-pryg-blue-v2 rounded-full hover:border-pryg-blue-v1 hover:text-pryg-blue-v1" href="">Join upcoming events</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="pryg-container">
        <div class="mx-auto">
            <div class="mx-auto">
                <div class="py-10 grid grid-cols-2 text-pryg-white-v2">
                    <hr class="my-auto w-36 border-1 border-pryg-white-v2 px-4"> 
                    <h4 class="content:block text-pryg-gray-v2 pr-10 text-pryg-gray-v2 text-4xl text-right">3p's Our Strategy</h4>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1366" height="1305" viewBox="0 0 1366 1305">
                        <defs>
                            <clipPath id="clip-PROJECTS_7">
                            <rect width="1366" height="1305"/>
                            </clipPath>
                        </defs>
                        <g id="PROJECTS_7" data-name="PROJECTS – 7" clip-path="url(#clip-PROJECTS_7)">
                            <rect width="1366" height="1305" fill="#fff"/>
                            <path id="Path_631" data-name="Path 631" d="M640.96,0c353.993,0,640.96,286.968,640.96,640.96s-286.968,640.96-640.96,640.96S0,994.953,0,640.96,286.968,0,640.96,0Z" transform="translate(1468.645 1029.889) rotate(160)" fill="#f3f3f3" opacity="0.7"/>
                            <circle id="Ellipse_37" data-name="Ellipse 37" cx="20.5" cy="20.5" r="20.5" transform="translate(1317 1149.165)" fill="#eef1f0" opacity="0.7"/>
                            <ellipse id="Ellipse_38" data-name="Ellipse 38" cx="411.182" cy="411.182" rx="411.182" ry="411.182" transform="translate(1170.502 889.118) rotate(160)" fill="#fff" opacity="0.9"/>
                            <path id="Path_632" data-name="Path 632" d="M336.641,0C150.716,0,0,150.718,0,336.644S150.716,673.285,336.641,673.285,673.283,522.568,673.283,336.643,522.567,0,336.641,0Zm0,635.278c-164.929,0-298.634-133.706-298.634-298.634S171.713,38.009,336.641,38.009s298.634,133.7,298.634,298.634S501.57,635.278,336.641,635.278Z" transform="translate(806.314 1090.739) rotate(-155)" fill="#eef1f0"/>
                            <ellipse id="Ellipse_39" data-name="Ellipse 39" cx="375.253" cy="375.252" rx="375.253" ry="375.252" transform="translate(1124.451 867.644) rotate(160)" fill="none" stroke="#707070" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.5" stroke-dasharray="0 10"/>
                            <ellipse id="Ellipse_40" data-name="Ellipse 40" cx="298.634" cy="298.634" rx="298.634" ry="298.634" transform="translate(1026.249 821.852) rotate(160)" fill="#eef1f0"/>
                            <ellipse id="Ellipse_41" data-name="Ellipse 41" cx="215.765" cy="215.765" rx="215.765" ry="215.765" transform="translate(594.493 620.52) rotate(160)" fill="#278eb3"/>
                            <path id="Path_633" data-name="Path 633" d="M966.708,377.571A181.294,181.294,0,0,1,675.862,526.377a182.615,182.615,0,0,1-64.377-93.265c-4.839-16.443-19.354-27.494-36.125-27.494-22.368,0-43.526,12.24-55.213,31.922a109.392,109.392,0,0,1-127.34,48.3,16.049,16.049,0,0,0-19.231,7.832l-.266.533a19.833,19.833,0,0,0,3.936,23.5A184.3,184.3,0,0,1,252.059,833.5c-1.169.02-2.358.041-3.526.041A184.174,184.174,0,0,1,64.4,650.744c-.738-100.851,80.656-184.07,181.466-185.525a182.859,182.859,0,0,1,72.681,13.757,19.729,19.729,0,0,0,23.045-5.72l.964-1.189a16.065,16.065,0,0,0-.082-20.359,108.051,108.051,0,0,1-25.095-62.552,109.5,109.5,0,0,1,2.747-32.64,48.546,48.546,0,0,0-16.238-48.283l-1.23-1.025c-15.131-12.588-36.863-14-54.064-3.547A163.138,163.138,0,0,1,158.036,327.3C75.063,324.491,2.751,252.015.086,169.063A163.7,163.7,0,0,1,169.476.1c81.333,2.788,153.542,73.788,157.7,155a163.383,163.383,0,0,1-8.529,61.445c-7.176,21.056-2.112,43.629,13.2,58.965l.861.841a39.223,39.223,0,0,0,45.167,7.77A109,109,0,0,1,520.127,326.5a64.574,64.574,0,0,0,55.09,31.758,37.554,37.554,0,0,0,36.228-27.371,182.78,182.78,0,0,1,64.111-93.162A179.679,179.679,0,0,1,784.77,200.636h.656C883.161,200.636,964.412,279.857,966.708,377.571Z" transform="translate(868.391 1169.665) rotate(-155)" fill="#fff"/>
                            <path id="Path_634" data-name="Path 634" d="M778.325,200.633A174.912,174.912,0,0,0,611.178,326.248a44.169,44.169,0,0,1-42.286,32.006h-.133A70.67,70.67,0,0,1,508.1,323.341a102.523,102.523,0,0,0-133.806-39.887,45.837,45.837,0,0,1-52.621-8.988l-.849-.851c-17.183-17.181-22.592-42.612-14.743-65.609a157.382,157.382,0,0,0,8.174-59.028C310.249,70.73,241.091,2.8,162.791.1A157.241,157.241,0,0,0,.082,162.39c2.548,79.7,72,149.292,151.7,151.986a156.589,156.589,0,0,0,86.981-22.684c19.42-11.805,44.078-10.444,61.556,4.084l1.228,1.021a54.763,54.763,0,0,1,18.4,54.755,103.373,103.373,0,0,0-2.585,30.733,102.027,102.027,0,0,0,23.6,58.827,22.5,22.5,0,0,1,.148,28.574l-.964,1.189a26.307,26.307,0,0,1-30.524,7.627,177.21,177.21,0,0,0-70.132-13.275c-97.15,1.388-175.811,81.849-175.1,179.007A177.7,177.7,0,0,0,245.476,820.583c94.881-1.767,172.349-79.1,174.278-173.978A177.091,177.091,0,0,0,366.27,515.868a26.371,26.371,0,0,1-5.154-31.114l.279-.535a22.564,22.564,0,0,1,26.94-10.991,100.765,100.765,0,0,0,22.108,4.488,102.621,102.621,0,0,0,97.681-49.923,70.8,70.8,0,0,1,60.763-35.084h0a44.253,44.253,0,0,1,42.325,32.119,174.869,174.869,0,0,0,342.575-53.573C951.553,276.637,872.97,200.282,778.325,200.633Z" transform="translate(865.26 1161.079) rotate(-155)" fill="#fff"/>
                            <ellipse id="Ellipse_42" data-name="Ellipse 42" cx="161.194" cy="161.194" rx="161.194" ry="161.194" transform="translate(1124.164 572.434) rotate(160)" fill="#e95b1d"/>
                            <ellipse id="Ellipse_43" data-name="Ellipse 43" cx="146.435" cy="146.435" rx="146.435" ry="146.435" transform="translate(1105.248 563.613) rotate(160)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
                            <ellipse id="Ellipse_44" data-name="Ellipse 44" cx="146.52" cy="146.52" rx="146.52" ry="146.52" transform="translate(860.078 1146.841) rotate(-155)" fill="#f8bc26"/>
                            <circle id="Ellipse_45" data-name="Ellipse 45" cx="158.341" cy="158.341" r="158.341" transform="translate(394.532 701.987) rotate(-155)" fill="#278eb3"/>
                            <circle id="Ellipse_46" data-name="Ellipse 46" cx="114.131" cy="114.131" r="114.131" transform="translate(698.689 795.037) rotate(-155)" fill="#dee6e4"/>
                            <ellipse id="Ellipse_47" data-name="Ellipse 47" cx="100.133" cy="100.133" rx="100.133" ry="100.133" transform="translate(782.846 616.688) rotate(124)" fill="#fff"/>
                            <path id="Path_635" data-name="Path 635" d="M344.4,190.079a196.4,196.4,0,0,1-147.52,66.495C88.145,256.574,0,168.43,0,59.7A196.769,196.769,0,0,1,9.214,0" transform="translate(1070.762 613.402) rotate(-155)" fill="none" stroke="#37454f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.05"/>
                            <ellipse id="Ellipse_48" data-name="Ellipse 48" cx="6.191" cy="6.191" rx="6.191" ry="6.191" transform="translate(1065.563 617.809) rotate(-155)" fill="#37454f"/>
                            <path id="Path_636" data-name="Path 636" d="M64.43,332.683A189.6,189.6,0,0,1,0,190.06C0,85.093,85.093,0,190.058,0" transform="translate(881.138 1204.701) rotate(-155)" fill="none" stroke="#37454f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.05"/>
                            <path id="Path_637" data-name="Path 637" d="M18.934,0A189.3,189.3,0,0,1,0,82.794" transform="translate(634.116 879.805) rotate(-155)" fill="none" stroke="#37454f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.05"/>
                            <path id="Path_638" data-name="Path 638" d="M128.283,0A189.189,189.189,0,0,1,18.729,34.731q-9.478,0-18.729-.91" transform="translate(871.828 819.267) rotate(-155)" fill="none" stroke="#37454f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.05"/>
                            <ellipse id="Ellipse_49" data-name="Ellipse 49" cx="6.191" cy="6.191" rx="6.191" ry="6.191" transform="translate(711.881 1132.607) rotate(-155)" fill="#37454f"/>
                            <path id="Path_639" data-name="Path 639" d="M12.383,6.192A6.192,6.192,0,1,1,6.192,0,6.191,6.191,0,0,1,12.383,6.192Z" transform="translate(619.951 880.032) rotate(-155)" fill="#37454f"/>
                            <path id="Path_640" data-name="Path 640" d="M82.259,133.058A231.893,231.893,0,0,1,0,0" transform="translate(543.967 543.728) rotate(-155)" fill="none" stroke="#37454f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.05"/>
                            <path id="Path_641" data-name="Path 641" d="M0,3.567A233.306,233.306,0,0,1,40.75,0C168.834,0,272.666,103.832,272.666,231.916S168.834,463.829,40.75,463.829" transform="translate(256.865 718.972) rotate(-155)" fill="none" stroke="#37454f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.05"/>
                            <path id="Path_642" data-name="Path 642" d="M12.383,6.19A6.192,6.192,0,1,1,6.192,0,6.192,6.192,0,0,1,12.383,6.19Z" transform="translate(418.979 289.617) rotate(-155)" fill="#37454f"/>
                            <text id="_3_P_s_APPROACH" data-name="3 P&apos;s APPROACH" transform="translate(640.151 630.884)" fill="#37454f" font-size="21" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="-22.417" y="0">3 P&apos;s</tspan><tspan x="-57.235" y="33">APPROACH</tspan></text>
                            <text id="_02" data-name="02" transform="translate(852 444.3)" fill="#fff" font-size="16" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="0" y="0">02</tspan></text>
                            <text id="Process" transform="translate(852 496.999)" fill="#fff" font-size="45" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="0" y="0">Process</tspan></text>
                            <ellipse id="Ellipse_50" data-name="Ellipse 50" cx="18.649" cy="18.649" rx="18.649" ry="18.649" transform="translate(899.805 438.446) rotate(160)" fill="#fff" opacity="0.15"/>
                            <g id="Group_455" data-name="Group 455" transform="translate(-291.243 -1707.456)">
                            <text id="_01" data-name="01" transform="translate(534 2173.576)" fill="#fff" font-size="16" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="0" y="0">01</tspan></text>
                            <text id="Product" transform="translate(534 2227.576)" fill="#fff" font-size="45" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="0" y="0">Product</tspan></text>
                            <ellipse id="Ellipse_30" data-name="Ellipse 30" cx="18.649" cy="18.649" rx="18.649" ry="18.649" transform="translate(583.902 2167.722) rotate(160)" fill="#fff" opacity="0.15"/>
                            </g>
                            <text id="_03" data-name="03" transform="translate(737.5 924.354)" fill="#fff" font-size="16" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="0" y="0">03</tspan></text>
                            <text id="Policy" transform="translate(737.5 978.354)" fill="#fff" font-size="45" font-family="Jost-SemiBold, Jost" font-weight="600"><tspan x="0" y="0">Policy</tspan></text>
                            <ellipse id="Ellipse_51" data-name="Ellipse 51" cx="18.649" cy="18.649" rx="18.649" ry="18.649" transform="translate(788.156 917.853) rotate(160)" fill="#fff" opacity="0.15"/>
                            <ellipse id="Ellipse_52" data-name="Ellipse 52" cx="135.361" cy="135.361" rx="135.361" ry="135.361" transform="translate(854.681 1132.011) rotate(-155)" fill="none" stroke="#fff" stroke-width="2"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2">
            <div>
                <div class="py-10 flex text-pryg-white-v2">
                    <h4 class="content:block text-pryg-gray-v2 pr-10 uppercase text-pryg-gray-v2 text-base">Our Strategy</h4>
                    <hr class="my-auto w-36 border-1 border-pryg-blue-v2 justify-items-start"> 
                </div>
                <div class="py-10">
                    <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal">We seek to leverage the strengths of various
                        stakeholders including government agencies,
                        nonprofit organisations, corporates and
                        academic institutions. We use a 3P approach
                        i.e. product, process & policy to find solutions
                        to development issues in the country.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
{# <section class="relative py-10">
    <div class="pryg-container">
        <div class="flex flex-col md:flex-row gap-4 mb-24 mt-20">
            <div class="relative w-full md:w-6/12">
                <div class="ml-20">
                <div class="sm:text-center lg:text-left">
                    <h2 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-xl">
                    <span class="block">Building transformational delivery</span>
                    <span class="block">targeted at providing solutions for</span>
                    <span class="block">the country’s development.</span>
                    </h2>
                    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:mx-auto md:ml-20 md:mt-5 md:max-w-sm">
                    The world is facing multifaceted challenges in the 21st century. Academic institutions can play a crucial role in addressing some of these challenges be they on issues related to economic and gender inequalities, resource scarcity or climate change.
                    </p>
                </div>
                </div>
            </div>
            <div class="w-full md:w-6/12">
                <img class="h-32 w-full object-cover sm:h-72 md:h-96 lg:w-full rounded-bl-2xl rounded-tl-2xl roun" src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
            </div>
        </div>
    </div>
</section> #}
<section class="relative py-10">
    <div class="pryg-container">
        <div class="px-10 absolute top-20 lg:-left-3 xl:left-10 2xl:left-56">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:#e95b1d;transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2z"></path></svg>
        </div>
        <div class="px-10 absolute top-40 right-56">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:#F8BC28;transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2z"></path></svg>
        </div>
        <div class="grid grid-cols-2">
            <div>
                <div class="py-10 flex text-pryg-white-v2">
                    <h4 class="content:block text-pryg-gray-v2 pr-10 uppercase text-pryg-gray-v2 text-base">Thematic Areas</h4>
                    <hr class="my-auto w-36 border-1 border-pryg-blue-v2 justify-items-start"> 
                </div>
                <div class="py-10">
                    <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal">
                        We work on vast thematic areas including - Education, Health, SDGs, Skill development, Woman empowerment and many more.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" ml-80">
        <div class="grid grid-cols-3 gap-3">
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
            <div class="relative overflow-hidden transition duration-300 transform rounded-3xl group shadow-lg lg:hover:-translate-y-2 hover:shadow-3xl">
                <img class="object-cover rounded w-full h-56 md:h-64 xl:h-96" src="{{ base_path ~ directory }}/assets/images/about_us/team/BakulRao.png" alt="Person" />
                    <div class="py-5 absolute flex flex-col bottom-0 left-0 right-0 justify-center text-center transition-opacity duration-300 bg-pryg-blue-v2 opacity-0 group-hover:opacity-100">
                        <p class="mb-1 text-lg font-bold text-gray-100">Dr. Bakul Rao</p>
                        <p class="mb-4 text-xs text-gray-100">Professor</p>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="relative py-10">
    <div class="pryg-container">
        <div class="grid grid-cols-2">
            <div>
                <div class="py-10 flex text-pryg-white-v2">
                    <h4 class="pr-10 text-pryg-orange lg:text-5xl xl-text-6xl">The Impact</h4>
                    <hr class="my-auto w-36 border-1 border-pryg-blue-v2 justify-items-start"> 
                </div>
                <div class="py-10">
                    <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal py-2">PRAYOG works with government agencies, nonprofits, corporates
                        & academic institutions and supports them in finding solutions to
                        various development issues.
                    </p>
                    <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal py-2">
                        We envision a multifold impact that will go beyond a product-
                        based solution into the process, entrepreneurial & policy domains
                        as well. PRAYOG will enhance applied research at IIT Bombay
                        and find solutions to societal issues in a structured way.
                    </p>
                </div> 
            </div>
            <div class="grid justify-items-end">
                <img class="py-20" src="{{ base_path ~ directory }}/assets/images/homepage/patterns/prayog.drawio.svg" alt="">
            </div>
        </div>
    </div>
</section>
{# <section>
    <div class="">
        <div class="flex flex-col md:flex-row mb-24 mt-20">
            <div class="relative w-full md:w-7/12 bg-gray-800 rounded-br-2xl rounded-tr-2xl">
            <div class="ml-20">
                <div class="sm:text-center lg:text-left pt-10">
                <h2 class=" text-white text-2xl tracking-tight font-extrabold sm:text-5xl md:text-xl">
                    Our Mission
                </h2>
                <p class="mt-3 text-base text-gray-200 sm:mt-5 md:max-w-sm md:mt-5">
                    Become the first port of call for all development problems and be firmly engaged with society to provide innovative technological solutions through multi-stakeholder collaborative association.
                </p>
                </div>
            </div>
            </div>
            <div class="w-full md:w-5/12">
            <img class="h-30 w-full object-cover sm:h-30 md:h-30 lg:w-full lg:h-full " src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
            </div>
        </div>
    </div>
</section> #}

{% else  %}
 <div class="layout-content">
      {{ page.content }}
 </div>{# /.layout-content #}
 {% endif %}
{% include '@ctara_prayog_tailwindcss_theme/footer.html.twig' %}
