<header class="h-screen bg-hero-pattern bg-cover relative">
    <div class="mx-auto pryg-container">
        <nav>
            {{ page.header }}
        </nav>
        <div class="w-2/4 text-pryg-white-v1 absolute top-1/3 left-1/2 lg:pr-32 xl:pr-48 2xl:pr-52 rounded-lg">
            <div class="lg:text-3xl 2xl:text-6xl font-bold">Transforming lives through Technology</div>
            <div class="lg:text-sm xl:text-lg 2xl:text-3xl lg:py-10">
                To build transformational delivery targeted at
                providing solutions for the country’s development.
            </div>
            <div>
                <a class="pryg-btn hover:bg-pryg-blue-v1  text-pryg-white-v1 bg-pryg-yellow" href="">Find Solutions</a>
            </div>
        </div>
    </div>
</header>
<main class="">
    <section class="relative py-10">
        <div class="pryg-container relative">
            <div class="right-10  absolute">
                 <div class="flex">
                    <h2 class="text-2xl tracking-tight font-extrabold text-pryg-gray-v1 sm:text-5xl md:text-xl 2xl:text-4xl">3P's</h2>
                    <hr class="my-10 w-40 border-t-1 border-pryg-blue-v1 pl-10">
                    <h2 class="text-2xl tracking-tight font-extrabold text-pryg-blue-v2 sm:text-5xl md:text-xl 2xl:text-4xl">
                        Our Strategy
                    </h2>
                </div>
            </div>
            <div class="">
                <img class="mx-auto pb-32 w-9/12  h-9/12" src="{{ base_path ~ directory }}/assets/images/homepage/misc/PRAYOG_WEBSITE_3Ps.svg" alt="process">
            </div>
            <div class="grid grid-cols-2 absolute bottom-0">
                <div>
                    <div class="py-10 flex text-pryg-white-v2">
                        <h4 class="content:block text-pryg-gray-v2 pr-10 uppercase text-pryg-gray-v2 text-base">Our Strategy</h4>
                        <hr class="my-auto w-36 border-1 border-pryg-blue-v2 justify-items-start"> 
                    </div>
                    <div>
                        <p class="text-xl tracking-wide text-pryg-blue-v2 font-normal">We seek to leverage the strengths of various
                            stakeholders including government agencies,
                            nonprofit organisations, corporates and
                            academic institutions. We use a 3P approach
                            i.e. product, process & policy to find solutions
                            to development issues in the country.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ page.content }}
</main>
<footer class="h-1/2 bg-pryg-white-v2">
{{ page.footer }}
</footer>
{# <section class="relative py-10">
    <div class="pryg-container">
        <div class="flex flex-col md:flex-row gap-4 mb-24 mt-20">
            <div class="relative w-full md:w-6/12">
                <div class="ml-20">
                <div class="sm:text-center lg:text-left">
                    <h2 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-xl">
                    <span class="block">Building transformational delivery</span>
                    <span class="block">targeted at providing solutions for</span>
                    <span class="block">the country’s development.</span>
                    </h2>
                    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:mx-auto md:ml-20 md:mt-5 md:max-w-sm">
                    The world is facing multifaceted challenges in the 21st century. Academic institutions can play a crucial role in addressing some of these challenges be they on issues related to economic and gender inequalities, resource scarcity or climate change.
                    </p>
                </div>
                </div>
            </div>
            <div class="w-full md:w-6/12">
                <img class="h-32 w-full object-cover sm:h-72 md:h-96 lg:w-full rounded-bl-2xl rounded-tl-2xl roun" src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
            </div>
        </div>
    </div>
</section> #}
{# <section>
    <div class="">
        <div class="flex flex-col md:flex-row mb-24 mt-20">
            <div class="relative w-full md:w-7/12 bg-gray-800 rounded-br-2xl rounded-tr-2xl">
            <div class="ml-20">
                <div class="sm:text-center lg:text-left pt-10">
                <h2 class=" text-white text-2xl tracking-tight font-extrabold sm:text-5xl md:text-xl">
                    Our Mission
                </h2>
                <p class="mt-3 text-base text-gray-200 sm:mt-5 md:max-w-sm md:mt-5">
                    Become the first port of call for all development problems and be firmly engaged with society to provide innovative technological solutions through multi-stakeholder collaborative association.
                </p>
                </div>
            </div>
            </div>
            <div class="w-full md:w-5/12">
            <img class="h-30 w-full object-cover sm:h-30 md:h-30 lg:w-full lg:h-full " src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="">
            </div>
        </div>
    </div>
</section> #}


 {# <div class="layout-content">
      {{ page.content }}
 </div>/.layout-content #}
{% include '@ctara_prayog_tailwindcss_theme/footer.html.twig' %}
